<h1>About Blocitoff</h1>
<p>Blocitoff is an application that allows members to create a single to-do list with self-destructing items. That’s right. Self-destructing. The idea is simple. If the to-do item is not important enough to complete within seven days, then it doesn’t belong on your list. Blocitoff is a great motivational tool for getting things done.</p>
<h2>Want to try it out?</h2>
<p>If you are interested in test-driving Blocitoff login using the following cedentials:</p>
<ul class="list-unstyled">
  <li>U: member@example.com</li>
  <li>P: helloworld</li>
</ul>
<h2>Want to see more?</h2>
<p>If you are interested in or have any questions about my work, please visit my site at <a href="http://www.soriafernando.com/" target="_blank">www.soriafernando.com</a>.</p>