<h1>About Blocitoff</h1>
<p>Blocitoff allows users to create their own self-destructing to-do lists to keep focused on the things that really matter!</p>
<ul>
  <li>Sign up for a free account</li>
  <li>Create a single to-do list</li>
  <li>Create multiple to-do items</li>
  <li>Mark to-do items as complete</li>
  <li>See how many days are left before a to-do item is automatically deleted</li>
</ul>
<p>Created by: Fernando Soria</p>